$--theme-black-color: rgb(34,34,34);
$--theme-grey-color: rgb(47,47,47);
$--theme-beige-color: rgb(245,245,245);
$--theme-orange-color: rgb(255,127,80);
$--theme-blue-color: #446BAE;

$--theme-primary-text: rgb(73,54,34);
$--theme-secondary-text: #8d94a1;
$--theme-white-text: rgb(216,216,216);
$--theme-highlight-text: rgb(254,198,0);

$--theme-hover-background: #626262;
$--theme-hover-white-text: #fff;


